<!-- <p>
  Hola Mundo
</p> -->
<!-- <nb-layout> -->
<!-- <nb-layout-header fixed>Company Name</nb-layout-header> -->

<!-- <nb-sidebar>Sidebar Content</nb-sidebar> -->

<!-- <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column> -->
<!-- </nb-layout> -->
<nb-layout>
  <nb-layout-header fixed> Compañia Nombre </nb-layout-header>
  <nb-sidebar>Sidebar Content99</nb-sidebar>

  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <nb-layout-column>
    Hola Mundo
    <router-outlet></router-outlet>
  </nb-layout-column>

  <app-footer></app-footer>
  <nb-layout-footer fixed> © 2023 </nb-layout-footer>
</nb-layout>
<!-- <div>
  gdfg
</div> -->
<!-- <app-footer></app-footer> -->
